.b1{
    display: inline-block;
    background-color: #092327;
    padding: 15px;
    margin: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
}

.b1:hover{
    background: #ef8354;
}
.tit{
    background-color: rgb(218, 218, 236);
    color: black;
    padding: 30px;
    display: block;
    margin: 0;
    text-align: center;
         
}

body{
    background-color: rgb(218, 218, 236);
    font-family: Arial, Helvetica;
}

.menu{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 100%;
    text-align: center;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: #ef8354;
}
.in{
    font-size: 30px;
    font-family: Arial, Helvetica;
    background-color: #092327;
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;

}
.c{
    text-align: justify;
    color: white;
    background-color: #092327;
    margin: 0;
    padding-bottom: 50px;
    font-family: Arial, Helvetica;
}
.t3{
    text-align: center;
    font-size: 30px;
}
